<html>
    <head>
        <title>Community Events Board</title>
    </head>
    <body>
      <h1>Community Events Board</h1>
      <h2>Log in</h2>
      <div>
        <form action="/login" method="POST">
          <label for="name">Name</label>
          <input type="text" name="username">
          <label for="password">Password</label>
          <input type="password" name="password">
          <input type="submit" value="Log In">
        </form>
        <h3>No account? <a href="/signup">Sign up.</a></h3>
      </div>

    </body>
</html>
