<html>
    <head>
        <title>Community Events Board</title>
    </head>
    <body>
      <h1>Community Events Board</h1>
      <div class="event-list">
        <ul>
          {% for event in events %}
            <li><a href='/event/{{ event._id }}'>{{ event.event }}</a> - {{ event.date }}</li>
          {% endfor %}
        </ul>
      </div>

       <h2><a href = "/events">See sorted events</a></h2>
       <h2>Add Event</h2>
      <form method="post" action="/events/new">
        <label for="event_name">Event Name:</label>
        <input type="text" name="event_name" value="">
        <label for="event_date">Date:</label>
        <input type="date" name="event_date" value="">
        <label for="name">Name:</label>
        <input type="name" name="user_name" value="">
        <input type="submit" value="Submit">
      </form>
      <h2><a href = "/logout">Logout</a></h2>
    </body>
</html>
